<%= form_for @recipe do |f| %>
  <%= render 'shared/errors', object: f.object %>

  <div class="field">
    <%= f.label :name, "Recipe Name" %>
    <%= f.text_field :name %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <h3>Time</h3>
    <span><%= f.label :prep_time, "Prep Time" %></span>
    <span><%= f.text_field :prep_time%> minutes</span>
    <span><%= f.label :cook_time, "Cook Time" %></span>
    <span><%= f.text_field :cook_time %> minutes</span>
  </div>

  <h3>Ingredients</h3>
  <div class='form-group'>
    <div id="recipe-ingredients">
      <ol>
      <%= f.fields_for(:recipe_ingredients) do |ri| %>
        <%= render 'recipe_ingredient_fields', f: ri  %>
      <% end %>
      <%= link_to_add_association 'Add Ingredient', f, :recipe_ingredients,
        'data-association-insertion-node' => "#recipe-ingredients ol",
        'data-association-insertion-method' => "prepend",
        :wrap_object => Proc.new {|ri| ri.build_ingredient; ri }, class: "btn btn-default form-button" %>
      </ol>
    </div>
  </div>
  <h3>Directions</h3>
    <div id="directions">
      <%= f.fields_for(:directions) do |direction| %>
    	   <%= render 'direction_fields', f: direction %>
      <% end %>
      <%= link_to_add_association 'Add Step', f, :directions,
          'data-association-insertion-node' => "#directions",
          'data-association-insertion-method' => "prepend", class: "btn btn-default form-button" %>
      </br>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
    </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
