<div class="search-box">
  <h1>Recipes</h1>
  <%= form_tag(recipes_path, method: :get) do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
</div>

<div class="article">
  <% @recipes.each do |recipe| %>
      <h2 class="recipe-main"><%= link_to recipe.name, recipe, id: "recipe" %></h2>
  <% end %>
</div>

<div class="recipe-editor">
  <% if current_user %>
    <%= link_to "Add New Recipe", new_recipe_path, class: "btn btn-sm btn-primary" %>
  <% end %>
</div>
