<div class="article">
  <div class="recipe-title">
    <h1>
      <%= @recipe.name %>
      <div class="recipe-editor">
        <% if logged_in? && @recipe.user == current_user %>
          <%= link_to "Edit Recipe", edit_user_recipe_path(@recipe), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-sm btn-default" %>
          <%= link_to "#{@recipe.user.username.capitalize}'s Page", user_path(@recipe.user), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </h1>
    <p>Prep Time: <%= @recipe.prep_time %> minutes | Cook Time: <%= @recipe.cook_time %> minutes | Recipe by: <%= link_to @recipe.user.username.capitalize, user_path(@recipe.user), id: "user" %></p>
  </div>

  <h2>Ingredients</h2>
  <ul>
    <% @recipe.recipe_ingredients.each do |ri| %>
      <li><%= ri.quantity %> <%= ri.ingredient.name %></li>
    <% end %>
    <button id="new_ingredient_button" type="button" data-url="/recipes/ingredients/new">Add New Ingredient</button>
  </ul>


  <h2>Directions</h2>
  <ul>
    <% @recipe.directions.each do |dir| %>
      <li id="directions" ><%= dir.text %></li>
    <% end %>
  </ul>
  <%= link_to "Recipes Home", recipes_path, class: "btn btn-sm btn-primary" %>
</div>
