<div class="article">
  <div class="recipe-title">
    <h1>
      <%= @recipe.name %>
      <div class="recipe-editor">
        <% if logged_in? && @recipe.user == current_user %>
          <%= link_to "Edit Recipe", edit_user_recipe_path(@recipe), class: "btn btn-sm btn-primary" %>
          <%= link_to "Delete Recipe", recipe_path(@recipe), method: :delete, class: "btn btn-sm btn-default" %>
          <%= link_to "#{@recipe.user.username.capitalize}'s Page", user_path(@recipe.user), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </h1>
    <p>Prep Time: <%= @recipe.prep_time %> minutes | Cook Time: <%= @recipe.cook_time %> minutes | Recipe by: <%= link_to @recipe.user.username.capitalize, user_path(@recipe.user), id: "user" %></p>
  </div>

  <h2>Ingredients</h2>
  <ul id="ingredients-list">
    <% @recipe.recipe_ingredients.each do |ri| %>
      <li><%= ri.quantity %> <%= ri.ingredient.name %></li>
    <% end %>
  </ul>


  <h2>Directions</h2>
  <ul>
    <% @recipe.directions.each do |dir| %>
      <li id="directions" ><%= dir.text %></li>
    <% end %>
  </ul>
  <%= link_to "Recipes Home", recipes_path, class: "btn btn-sm btn-primary" %>
</div>

<% if current_user %>
  <h4>Add a comment:</h4>
    <%= form_for @comment, url: recipe_comments_path(@recipe, @comment)  do |f| %>
      <p><strong>Content</strong> <%= f.text_area :content, class: 'commentBox form-control' %></p>
      <button type="submit" class="btn btn-sm btn-primary">Create Comment</button>
    <% end %><br>
<% else %>
  <p>Please log in order to add a comment.</p>
<% end %>
<h4>Comments:</h4>
<div id="submitted-comments">
  <% @recipe.comments.each do |comment| %>
  <div id="comment-<%= comment.id %>">
    <strong class="commentUserName"><%= comment.user.username %></strong> : <span class="commentContent"><%= comment.content %></span>
  </div>
  <% end %>
</div>
<div class="recipe-editor">
  <% if logged_in? && @recipe.user == current_user %>
    <%= link_to "Delete Comment", recipe_comment_path(@comment), method: :delete, class: "btn btn-sm btn-default" %>
  <% end %>
</div>
