<!DOCTYPE html>
<html>
<head>
  <title>My Recipe Box</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
</head>
<body>
  <%= render "layouts/navbar" %>
  <%= render "layouts/flash" %>
  <div class="main">
    <div class="container-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
